body {
    background: beige;
    font-size: xx-large;
}

.screen-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.multiplier-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    float: inline-start;
}

.btn {
    height: 100px;
    width: 175px;
    font-size: large;
    cursor: pointer;
    background-color: burlywood;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.manualClickBtn {
    position:absolute;
    left: 50%;
    top: 25%;
    height: 100px;
    width: 175px;
    font-size: large;
    cursor: pointer;
    background-color: burlywood;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.clickBtn {
    height: 150px;
    width: 200px;
    font-size: large;
    cursor: pointer;
    background-color: burlywood;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.clickBtnUpgrades {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    float: inline-end;
}